.newPost {
    background-color: #004370;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 45px;
}

.newPost textarea {
    resize: none;
    min-width: 100%;
    min-height: 120px;
}

.buttonNewPost {
    float: right;
    margin: 5px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.buttonNewPost:hover {
    background: rgb(236, 236, 236);
}

