*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  color: #d9f1ff;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    'h h'
    'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.contentWrapper {
  grid-area: c;
}